.logoandbutton {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
}
.parent {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:3rem;
}
.demoreadytxt {
    padding-top: 0.2rem;
}
li {
    padding-top: 1rem;
}